#date {
  position: absolute;
  left: 0%;
  max-width: 15%;
}

#time {
  position: absolute;
  left: 15%;
  max-width: 10%;
}

#current {
  position: absolute;
  right: 55%;
  /* left: 20%; */
  max-width: 20%;
  text-align: end;
}

#dash {
  text-align: justify;
  position: absolute;
  font-size: 30px;
  right: 51.5%;
  max-width: 2%;
}

#destination {
  position: absolute;
  left: 45%;
  max-width: 20%;
}

#cost {
  position: absolute;
  left: 68%;
  max-width: 8%;
}

#stations {
  margin-top: -50px;
  margin-bottom: 24px;
  padding-top: 46px;
  width: 90%;
  background-color: #6f808d;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  list-style: none;
}

#stations p {
  text-align: center;
  width: 90%;
  margin-right: 10%;
  margin-top: 0px;
  margin-bottom: 15px;

  color: #fff;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}
