.schedule {
  display: flex;
  margin: 150px 0px;

  width: 70%;
  min-width: 800px;
  height: fit-content;
  border-radius: 5px;

  flex-direction: column;

  background: #d9d9d9;
}

.schedule #message {
  text-align: center;
  font-size: 22px;
  margin-bottom: 60px;
  margin-top: 0px;
}
