.employee-inputs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.employee-inputs input {
  width: 47%;
  height: 48px;
  margin-bottom: 1%;
  margin-right: 1%;
  border-radius: 16px;
  font-size: 18px;
}

.employee-inputs select {
  width: 49%;
  margin-bottom: 1%;
  margin-right: 1%;
  border-radius: 16px;
  font-size: 18px;
}

#employee-login {
  width: 100%;
}

#employee-driver_id {
  width: 100%;
}

#change-password {
  margin: 0;
  margin-bottom: 10px;
  min-height: 50px;
  width: 99%;
}
