.object-search {
  z-index: 2;
  position: sticky;
  top: 122px;
  display: flex;
  height: 72px;
  width: 90%;

  background: #fff;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 22px;
  margin-bottom: 2px;

  gap: 20px;
}

.object-search__container {
  position: sticky;
  display: flex;
  width: 90%;
  gap: 20px;

  /* background-color: #ededee;
  border-radius: 16px; */
}

.object-search input {
  width: 95%;
  height: 70px;
  padding: 0px 120px 2px 20px;
  border: none;
  outline: none;
  border-radius: 16px;
  background: #ededee;

  color: #5c5c5c;
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}

.object-search button,
.object-search a {
  border-radius: 16px;
  border: none;
  background: #6f808d;

  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.object-search a p {
  margin: 0;
}

.object-search button:hover,
.object-search a:hover {
  box-shadow: 0px 0px 0px 2px #6f808d;
  cursor: pointer;
}

.object-search #clear-search {
  position: absolute;
  right: 0;
  min-width: 72px;
  width: fit-content;
  height: 72px;
  padding: 0;

  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;

  border-radius: 16px;
  background: #6f808d;
}

.object-search #clear-search p {
  margin: 0px 10px;
}

.object-search #clear-search img {
  width: 50px;
  height: 50px;
}

.object-search .show-filter-button,
.object-search .button-with-icon {
  min-width: 72px;
}

.object-search .show-filter-button img,
.object-search .button-with-icon img {
  width: 50px;
  height: 50px;
}
