.window__container {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.window {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  z-index: 10;
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 25px 50px 25px 50px;
  flex-direction: column;
  align-items: center;

  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.3);

  color: #5c5c5c;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 500;
  line-height: 110%;
}

.window__inner {
  max-height: 70vh;
  min-width: 500px;
  max-width: 70vh;
  width: fit-content;
  display: flex;

  overflow: auto;
  overflow-x: hidden;

  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.window__inner::-webkit-scrollbar {
  width: 0;
}
.window p {
  text-align: center;
  margin-bottom: 10px;
  max-width: 90%;
}

.window .error {
  margin: 0;
  font-size: 14px;
  color: red;
}

.window .error-disabled {
  margin: 0;
  font-size: 14px;
  color: #fff;
}

.window .error-border {
  border: 1px solid red;
}

.window .base-border {
  border: 1px solid #ededee;
}

.window #main {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 15px;
}

.window .secondary-label {
  align-self: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 130%;
}

.window #buttons {
  margin-top: 15px;
  display: flex;
}

.window button {
  min-height: 60px;
  width: fit-content;
  margin: 0px 10px;
  padding: 0px 15px;

  border-radius: 16px;
  border: none;
  background: #6f808d;

  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}

.window button:hover {
  box-shadow: 0px 0px 0px 2px #6f808d;
  cursor: pointer;
}

.window .button-unactive {
  opacity: 0.5;
}

.window .button-unactive:hover {
  box-shadow: none;
  cursor: default;
}

.window input {
  width: 50%;
  height: 50px;

  border: none;
  outline: none;
  border-radius: 30px;
  background: #ededee;

  color: #5c5c5c;
  font-family: Montserrat;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  line-height: 110%;
  cursor: pointer;
  padding-right: 5px;
}

.label-input {
  position: relative;
  min-width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label-input input {
  position: absolute;
  left: 58%;
  width: 30%;
}

.label-input label {
  margin: 0;
  text-align: end;
  width: 50%;
  max-width: 50%;
}

.window input::-webkit-outer-spin-button,
.window input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.window .input[type="number"] {
  -moz-appearance: textfield;
}
