#station-name {
  min-width: 170px;
}

.window__inner .station-input {
  position: relative;
  min-width: 400px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
