.route-index {
  position: absolute;
  left: 2%;
  text-align: end;
}

.route-start {
  position: absolute;
  right: 77%;
  max-width: 20%;
  text-align: end;
}

.route-dash {
  text-align: justify;
  position: absolute;
  font-size: 30px;
  left: 26%;
}

.route-destination {
  position: absolute;
  left: 33%;
  max-width: 20%;
}

.route-totalTime {
  position: absolute;
  right: 40%;
  max-width: 10%;
  text-align: end;
}

.route-slash {
  position: absolute;
  right: 38%;
}

.route-totalCost {
  position: absolute;
  left: 63%;
  max-width: 10%;
}

.route-station1 {
  position: absolute;
  right: 73.5%;
  max-width: 20%;
  text-align: end;
}

.info .route-dash {
  text-align: justify;
  position: absolute;
  font-size: 25px;
  left: 29%;
}

.route-station2 {
  position: absolute;
  left: 32.5%;
  max-width: 20%;
}

.route-time {
  position: absolute;
  right: 41%;
  max-width: 10%;
  text-align: end;
}

.info .route-slash {
  position: absolute;
  right: 39.5%;
}

.route-cost {
  position: absolute;
  left: 62%;
  max-width: 10%;
}

.info .route-station-pare {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  min-height: 20px;
  height: fit-content;
  margin-top: 0px;
  margin-bottom: 15px;
}
