.bus-input {
  width: 475px;
}

.bus-input select {
  width: 55%;
}

.bus-input input {
  position: static;

  width: 54%;
  height: 48px;
}

.bus-input label {
  width: 40%;
}

#driver-select {
  min-width: 380px;
  width: 100%;
}

#driver-busy-message {
  margin: 0;
  max-width: 380px;
}
