.bus-code {
  position: absolute;
  left: 5%;
}

.bus-status {
  position: absolute;
  left: 35%;
}

.bus-info__container {
  position: relative;
  width: 100%;
  height: 19px;
  margin-bottom: 15px;
}

.bus-info-label {
  position: absolute;
  left: 5%;
}

.bus-info {
  position: absolute;
  left: 30%;
}
