.bus-code {
  position: absolute;
  left: 5%;
}

.bus-status {
  position: absolute;
  left: 70%;
}

.bus-info__container {
  position: relative;
  width: 100%;
  height: 19px;
  margin-bottom: 15px;
}

.bus-driver-label {
  position: absolute;
  left: 5%;
}

.bus-driver-info {
  position: absolute;
  left: 20%;
}

.bus-model-label {
  position: absolute;
  left: 5%;
}

.bus-model-info {
  position: absolute;
  left: 20%;
}
