.employees-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.employees-page #message {
  color: #5c5c5c;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 500;
  line-height: 110%;

  font-family: inherit;
  text-align: center;
  font-size: 22px;
  margin-bottom: 24px;
  margin-top: 0px;
}
