.trip-date {
  position: absolute;
  left: 1.5%;
  max-width: 13.5%;
}

.trip-departure-time {
  position: absolute;
  left: 15%;
  max-width: 15%;
}

.trip-departure {
  position: absolute;
  right: 55%;
  max-width: 18%;
  text-align: end;
}

.trip-dash {
  text-align: justify;
  position: absolute;
  font-size: 30px;
  left: 46%;
}

.trip-destination {
  position: absolute;
  left: 50%;
  max-width: 18%;
}

.trip-cost {
  position: absolute;
  left: 70%;
  max-width: 8%;
}

.trip-time {
  position: absolute;
  left: 18.8%;
  max-width: 10%;
}

.trip-station1 {
  position: absolute;
  right: 54.5%;
  max-width: 18%;
  text-align: end;
}

.info .trip-dash {
  text-align: justify;
  position: absolute;
  font-size: 30px;
  left: 47%;
}

.trip-station2 {
  position: absolute;
  left: 50%;
  max-width: 18%;
}

.trip-cost {
  position: absolute;
  left: 68%;
  max-width: 8%;
}
.info .trip-station-pare {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  min-height: 20px;
  height: fit-content;
  margin-top: 0px;
  margin-bottom: 15px;
}
