.object-filter {
  position: sticky;
  top: 200px;
  left: 50px;
  margin-top: 200px;
  margin-bottom: 100px;
  padding-top: 25px;
  width: 350px;
  height: fit-content;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 40px;
  background: #fff;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
}

.object-filter button {
  width: 90%;
  height: 72px;
  text-align: center;
  border-radius: 16px;
  border: none;
  background: #ededee;
  margin-bottom: 25px;

  color: #5c5c5c;
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}

.object-filter #clear {
  border-radius: 16px;
  border: none;
  background: #6f808d;

  min-height: 72px;
  min-width: 90%;

  margin-bottom: 25px;

  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}

.object-filter #clear:hover {
  box-shadow: 0px 0px 0px 2px #6f808d;
  cursor: pointer;
}

.object-filter > div {
  width: 90%;
  height: 72px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 16px;
  background: #ededee;

  margin-bottom: 25px;

  color: #5c5c5c;
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}

.object-filter div label {
  margin-left: 10px;
}

.object-filter select {
  width: 50%;
  height: 50px;

  -moz-appearance: none;
  -webkit-appearance: none;

  border: none;
  outline: none;
  border-radius: 30px;

  color: #5c5c5c;
  font-family: Montserrat;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  line-height: 110%;
  cursor: pointer;
}

.object-filter select::-ms-expand {
  /* IE */
  display: none;
}

@media screen and (max-width: 1500px) {
  .object-filter {
    display: none;
  }
}
