@import url("https://fonts.cdnfonts.com/css/montserrat");

.login-window {
  margin: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-window__card {
  width: 600px;
  height: 615px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center;
  background-image: url("../loginImgs/loginFormImg.svg");
}

.login-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat;
}

.login-form label {
  margin-top: 3rem;
  color: #303030;
  margin-bottom: 3rem;

  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.login-form input {
  width: 25rem;
  padding: 1.5rem;
  border-radius: 16px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0);
  background: #ededee;
  margin-bottom: 3rem;

  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 109%;
}

.login-form .auth-failed {
  border: 1px solid red;
}

.login-form #password-input {
  position: relative;
}

.login-form #password {
  width: 23.5rem;
  padding-right: 3rem;
}

.login-form #makePasswordVisible {
  border: none;
  background: none;
  position: absolute;
  top: 25%;
  right: 1.5em;
  width: fit-content;
  height: fit-content;
}

.login-form #makePasswordVisible:hover img {
  opacity: 0.6;
}

.login-form #submit {
  width: 20rem;
  height: 69px;
  border-radius: 16px;
  border: none;
  background: #6f808d;
  color: #fff;

  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 109%;
}

.login-form #submit:hover {
  background: #515f6a;
}

.login-form p {
  position: absolute;
  color: red;
  top: 6rem;
}
