@import url("https://fonts.cdnfonts.com/css/montserrat");

.logo-block {
  display: flex;
  flex-direction: row;
  width: 529px;
  height: 85px;
  flex-shrink: 0;
  margin: 2rem;
}

.logo-block img {
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  margin-right: 1rem;
}

.logo-block p {
  margin-top: 0.5rem;
  color: #fff;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
